<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{# 1. Twig: The Basics #}
{#{% include '01_twig_the_basics.html.twig' %}#}

{# 2. Functions, Filters and Debugging with dump #}
{% include '02_functions_filters_and_debugging_with_dump.html.twig' %}

</body>
</html>