<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{# 1. Twig: The Basics #}
{#{% include '01_twig_the_basics.html.twig' %}#}

{# 2. Functions, Filters and Debugging with dump #}
{#{% include '02_functions_filters_and_debugging_with_dump.html.twig' %}#}

{# 3. Using Objects and Array Keys #}
{#{% include '03_using_objects_and_array_keys.html.twig' %}#}

{# 4. Using a Layout: Template Inheritance #}
{#{% include '04_using_a_layout_template_inheritance.html.twig' %}#}

{# 5. Including other Templates #}
{#{% include '05_including_other_templates.html.twig' %}#}

{# 6. If Statements with “Tests” #}
{#{% include '06_if_statements_with_tests.html.twig' %}#}

{# 7. The for “loop” and inline “if” Syntax #}
{#{% include '07_the_for_loop_and_inline_if_syntax.html.twig' %}#}

{# 8. Mistakes and Macros #}
{#{% include '08_mistakes_and_macros.html.twig' %}#}

{# 9. Extra Credit Tricks and HTML Escaping #}
{% include '09_extra_credit_tricks_and_html_escaping.html.twig' %}

</body>
</html>